// 속성을 뒤죽박죽 섞어둔 코드

//.header {
//  & .nav li {
//    width: 100px;
//  }
//
//  & li {
//    width: 90px;
//  }
//
//  color: #333;
//  width: 100px;
//  height: 100px;
//
//  border-radius: 10px;
//
//  display: block;
//
//  position: absolute;
//  font-size: 10px;
//}

// 정상 코드

.header {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  font-size: 10px;
  color: #333;

  & li {
    width: 90px;
  }

  & .nav li {
    width: 100px;
  }
}
